html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.navbar {
  color: white;
}
#WebGL-output{
  margin-bottom: -5.5vh;
}

img:-webkit-full-screen {
	max-width: none;
}

img:-moz-full-screen {
	max-width: none;
}

img:-ms-fullscreen {
  max-width: none;
}

img:full-screen {
	max-width: none;
}

img:fullscreen {
	max-width: none;
}

.formPost{
  margin: 0px auto;
}

.formPost h1 {
  margin-top: 0px;
  font-size: 50px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  margin: 0px 60px;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: rgb(44, 118, 255);
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: rgb(20, 18, 168);
}

.inputDisabled {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
  z-index: -1;
}

.inputDisabled + label {
  margin: 0px 60px;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: rgb(20, 18, 168);
  display: inline-block;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.removeBtn {
  border: 1px solid rgb(240, 5, 5);
  border-radius: 10px;
  margin: 0px 60px;
  padding: 10px;
  width: 150px;
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: rgb(224, 7, 7);
  display: inline-block;
  cursor: pointer; /* "hand" cursor */
}

.removeBtn:hover {
  background-color: rgb(156, 4, 4);
}

.singlePost{
  width: 100vw;
  height: 100px;
}

.singlePost > canvas{
  width: 100vw;
  height: 100px;
}

.navbar {
  margin-bottom: 10px;
}

.SignupForm {
  margin-top: 200px;
}

.worldContainer{
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid green;
  justify-content: flex-start;
}

.profilePostContainer{
  width: 98.9vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid green;
  justify-content: flex-start;
}

.worldContainer{
  display: block;
  max-width: 99vw;
  border: 1px solid red;
}

.worldPost{
  float: left;
  width: 32.8vw;
  height: 40vh;
  margin: 1px;
  border: 1px solid green;
 /* 32:18, i.e. 16:9 */

}

.worldUserOverlay{
  width: 100vw;
  height: 10vh;
}

.overlayTextWorld{
  margin-top: 3vh;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeImgContainer{

  position: relative;
  background-color: rgba(0, 0, 0, 0.527);
  height: 300px;
  width: 100%;
}

.profileImgContainer{
  position: relative;
  background-color: rgba(0, 0, 0, 0.527);
  height: 300px;
  width: 100%;
}

.homeImgContainer:hover {
  opacity: 1;
}

.homePostHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.overlayContainer{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.527);
}

.overlayContainer:hover{
opacity: 1;
}

.textOverlay{
  color: white;
  width: 40vw;
  height: 13vh;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.textOverlayWorld{
  display: flex;
  justify-content: space-between;
  color: white;
  width: 24vw;
  height: 30vh;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.homePostFoot{
  margin-bottom: 40px;
}

.likeContainerHome{
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  width: 19.9vw;
}

.likeContainerWorld{
  display: flex;
  padding-right: 3vw;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 5vh;
}

.commentlength-container{
  height: 7vh;
  width: 19.9vw;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  border-left: 1px solid white;
}

.worldImgContainer{
  position: relative;
  background-color: rgba(0, 0, 0, 0.527);
  height: 300px;
  width: 100%;
}

.Worldcommentlength-container{
  height: 7vh;
  padding-left: 1vw;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid white;
}

.worldOverlayText{
  float: left;
  border: 1px solid green;
  width: 40vw;
  height: 5vh;
}

.fullPostText{
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid white;
}

/* SINGLE POST STYLING */
.singlePostHeader{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10vh;
  font-size: 30px;
}

.goBack-btn{
  border: transparent;
  background-color: transparent;
  margin-left: 1vw;
  font-size: 30px;
}

.singleFooter{
  border: 1px solid brown;
  height: 30vh;
}

.expandBtn {
  position: relative;
  top: -44.5vh;
  left: 48vw;
  border: transparent;
  background-color: rgba(0, 0, 0, 0.863);
}

.postCaption{
  float: left;
  border: 1px solid blue;
  height: 30vh;
  width: 45vw;
  font-size: 30px;
}

.singleLikes{
  float: left;
  height: 30vh;
  width: 22vw;
  border: 1px solid purple;
}


.like-counter{
  display: flex;
  justify-content: center;
  width: 22vw;
  height: 10vh;
  margin-top: 2vh;
  border: 1px solid orange;
}

.likeCount{
  margin-left: 2vw;
  font-size: 30px;
}

.CommentsContainer{
  float: left;
  border: 1px solid green;
  height: 20vh;
  width: 32vw;
  overflow: auto;
}

.CommentsContainer::-webkit-scrollbar { 
  display: none; 
} 

.commentInput{
margin-top: 3vh;
width: 20vw;
}

.userCommentName:hover{
cursor: pointer;
}

.single-comment {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px auto;
  height: 40px;
  width: 25vw;
  border-radius: 25px;
  border: 1px solid gray;
}

.the-comment{
  margin-left: 10px;
}

.expandBtn:hover{
  border: transparent;
  background-color: rgb(0, 0, 0);
}

.expandIcon {
 font-size: 30px;
 color: white;
  }

.expandIcon:hover {
color: white;
}

.expandText{
  margin-top: -5px;
  font-size: 10px;
  color: white;
}

.tagName {
  margin: 20px 0px;
}

.post-date{
  margin-top: 10vh;
  display: inline-block;
  border: 1px solid orchid;
  height: 5vh;
  width: 22vw;
  font-size: 20px;
}

.editPostHeader{
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin-bottom: 5vh
}

.editPostHeader{
  padding-left: 11vw;
}

.captionFormPost{
  display: block;
  resize: none;
  width: 30vw;
  height: 20vh;
  margin: 20px auto;
}

.tagsFormPost{
  display: block;
  margin: 20px auto;
  width: 20vw;
  height: 5vh

}
/*END OF SINGLE POST STYLING */



.HomePage {
  width: 100vw;
  height: 90vh;
  border: 1px solid green;
}

.HomeItem{
 
  float: left;
  width: 30%;
  height: 90vh;
  margin: 0px 1.5vw;
  border: 1px solid red;
}

.HomeItem1{
  background-image: url('/amsterdam-woman-mobile-photo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 0px;
}

.HomeItem2{
  background-image: url('/sharing-the-future-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0px;
}

.HomeItem3{
  background-image: url('/Exploring-Petite-France-Strasbourg-by-Geoffrey-Morrison-4-of-10.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 0px;
}

.iconContainer {
  height: 100px;
  width: 100px;
}

.likeBtn {
  float: left;
  border: transparent;
  background-color: transparent;
  height: 50px;
  width: 50px;
}

.likeIcon{
  font-size:40px;
}

.likeIcon:hover{
  cursor: pointer;
}

.likeIconHome{
  font-size:40px;
  color: white;
}

.likeIconWorld{
  color: white;
  font-size:30px;
}

button:focus {outline:0;}

.confirmDelete{
  background-color: red;
  color: white;
}

.followUser{
  float: left;
  border: 1px solid blue;
  display: block;
  text-decoration: none;
  height: 50px;
  width: 20vw;
  margin: 2.5% auto;
}

.followUser:hover{
  cursor: pointer;
}

.feedPost {
  border: 1px solid grey;
  border-radius: 10px;
  margin: auto;
  height: 62vh;
  width: 50vw;
  margin-bottom: 30px;
}

.tagsTitle{
  font-size: 20px;
  font-weight: bold;
  display: block;
  float: left;
  padding-top: 10px;
  margin-right: 30px;
}

.tagTitleAndTextarea{
  margin: 10px 0px 10px 26vw;
}

.notification-userImage img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.notificationText{
  margin-left: 10px;
  font-size: 12px;
}

.notifiUser{
  font-weight: bold;
}

.postPictureNoti{
  margin-left: 20px;
  float: right;
}

/* USER PROFILE STYLE */

.profileContainer{
max-width: 100vw;
}

.user-profile{
  display: flex;
  align-items: center;
  border: 1px solid green;
  height: 30vh;
}

.user-profile-img{
  display: block;
  float: left;
  height: 20vh;
  width: 15vw;
  border: 1px solid yellow;
}

.user-profile-username {
  text-align: start;
  height: 8vh;
  width: 25w;
  border: 1px solid blue;
  display: block;
  font-size: 35px;
  font-weight: bold;
}

.user-profile-bio{
  text-align: start;
  border: 1px solid violet;
  height: 12.5vh;
  width: 22vw;
  display: block;
  font-size: 15px;
}

.profilePost{
  width: 32.9vw;
}

.userFollowersContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid yellow;
 width: 50vw;
}

.userPostCounter{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  width: 20vw;
}

.userPostAndFollowers{
  display: flex;
  border: 1px solid orange;
  width: 60vw;
  height: 20.5vh;
  font-size: 30px;
}

.profileOverlayContainer{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.527);
}

.profileOverlayContainer:hover{
  opacity: 1;
}

.editOrDeletePost{
  position: absolute;
  border: 1px solid yellow;
  width: 9vw;
  height: 7vh;
  left: 90vw;

}

.textOverlayProfile{
  color: white;
  width: 40vw;
  height: 13vh;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.deleteIcon:hover{
cursor: pointer;
}

.editIcon:hover{
  cursor: pointer;
}

.editUserProfileIcon{
  position: relative;
  bottom: 7vh;
  right: -6vw;
  background: transparent;
  border: 1px solid green;
  font-size: 30px;
}

.editUserHeader{
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.editUserHeader{
  padding-left: 10.5vw;
}

.editUserProfileContainer{
  position: absolute;
  display: flex;
  top: 0vh;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.827);
}

.exitBtnEditUser{
  background-color: transparent;
  border: 0px;
  display: block;
 float: right;
 height: 40px;
 font-size:25px
}

.editUserFormContainer{

  justify-content: center;
  border: 1px solid gray;
  border-radius: 20px;
  height: 63vh;
  width: 40vw;
  background-color: rgba(255, 254, 254, 0.904);
}

.editUserCaption{
  display: block;
  resize:none;
  width: 25vw;
  height: 15vh;
  margin: auto;
}

.editUserPicture{
  display: block;
  border: 1px solid gray;
  border-radius: 100px;
  width:170px;
  height:170px;
  margin: 15px auto;
}

.chooseFileUserEdit{
  margin-bottom: 15px;
}
/* END OF USER PROFILE STYLE */
